@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 96.1%; /* Light Blue */
    --foreground: 222.2 47.4% 11.2%;
    --card: 210 40% 98%; /* Lighter Blue for cards */
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 19 56% 47%; /* Ochre Earth (#B85C38) */
    --primary-foreground: 48 33% 97%;
    --secondary: 0 55% 35%; /* Maroon */
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 90%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 90%;
    --accent-foreground: 19 56% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 19 56% 47%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 19 56% 57%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0 55% 45%; /* Maroon Dark */
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 19 56% 57%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 3rem));
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}
